# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# System files
.DS_Store

# Logs
*.log 
flask_session/
old/
projectidea.txt
jsonstruct.json
readdoc/read.py
